.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 80px 80px;
    background-color: #2196F3;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* text-align: center; */
    /* padding: 10px; */
}
.grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
   
}
.grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 3 / span 1;
    grid-row: 5 / span 9;
   
}
.grid-item3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;

}
.grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 3 / span 1;
 
}
.grid-item5 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  
}
.grid-item6 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  
}
.grid-item7 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
  
}
.grid-item8 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / span 1;
    grid-row: 8 / span 8;
  
}

